.container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.container input{
    width: 200px;
    height: 30px;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(146, 140, 140);
    margin: 20px 5px;
}

.containerUsers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.userContent{
    width: 100%;
    max-width: 300px;
    min-height: 500px;
    height: auto;
    margin: 10px 5px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(19, 122, 122);
}

.userContent p{
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 2px 0px;
}

.userContent p > span{
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.userContent ul{
    padding: 0px 30px;
}

.userContent ul li{
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.userContent ul li span{
    font-size: 16px;
    font-weight: 600;
    color: white;
}